.second-row {
    margin-top: 25px; /* Increase the value as per your requirement */
  }

.admin-box{
  margin-top: 100px; /* Increase the value as per your requirement */
}

.second-admin-box{
  margin-top: 0px; /* Increase the value as per your requirement */
}